# Battery Health
r_dir_file(system_app, sysfs_battery_supply)

# FPS Info
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;
